$primary: #1db954;
$secondary: #457e59;
$dark: #121212;
$danger: #5c3434;
$light: #535353;
$body-bg: #121212;
$body-bg: #121212;
//$modal-content-bg:#535353;
$enable-shadows: true;

@import "../node_modules/bootstrap/scss/bootstrap";