$primary: #1db954;
$secondary: #457e59;
$dark: #2A2A2A;
$danger: #caceca;
$light: #555555;
$body-bg: #121212;
//$modal-content-bg:#535353;
$enable-shadows: true;

@import "../node_modules/bootstrap/scss/bootstrap";