@font-face { font-family: circular; src: url('circular-std-medium-500.ttf'); }

.highlightBox{
    background-color: #2A2A2A;
    border-radius: 5px;
    box-shadow: 5px;
}

.songBox {
    border-radius: 15px;
    padding: 10px;
    margin: 2px;
    display: flex;
    align-items: center;
    background-color: #555555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.faint{
    color: #bbbbbb;
}

.clicksong:hover,.clicksong:active ,.clicksong:focus{
    background-color: #d3dad2;
    color: black;
    cursor: pointer;
}

.song-thumbnail {
    width: 5vh;
    height: 5vh;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 15px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2A2A2A; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1db954; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #457e59; 
  }

.progress-bar {
    transition: width 0.3s;
}
.countRow {
    margin-bottom: 20px;
}

.countIcon{
    margin-right: 5px;
}